@charset 'utf-8';
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;700&display=swap");
/* font-family: 'Noto Sans', sans-serif; 
300: light, 400: regular, 700: bold
*/
@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
/* font-family: 'S-CoreDream-3Light'; */

:root {
  --mw: 1440px;
  --black: #000;
  --white: #fff;
  --blueDarkMode: #879ff5;
  --blueLightMode: #436bfb;
}
.wrap {
  color: var(--black);
  background-color: var(--white);
}
.wrap.on {
  color: var(--white);
  background-color: var(--black);
}
.mw {
  max-width: var(--mw);
  width: calc(100% - 2rem);
  margin: 0 auto;
}
.section {
  height: 100vh;
}

/* header */
.hdCon {
  width: 100%;
  position: fixed;
  z-index: 100;
  background-color: var(--white);
}
.wrap.on .hdCon {
  background-color: var(--black);
}
.hd {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
}
.wrap.on .hd {
  background-color: var(--black);
}
.wrap.on .logoL {
  display: none;
}
.wrap .logoD {
  display: none;
}
.wrap.on .logoD {
  display: block;
}
.ham {
  display: none;
}
.ham i {
  font-size: 1.75rem;
}
.ham .fa-xmark {
  display: none;
  font-size: 2rem;
}
.m_toggle {
  display: none;
}
.m_toggle .toggleSwitch {
  margin: 30px 0;
}
.gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gnb > div {
  z-index: 100;
}
.gnb > a {
  display: inline-block;
  padding: 1rem 2rem;
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
  outline: none;
}
.wrap.on .gnb > a {
  color: var(--white);
}
.gnb > a:hover {
  color: var(--blueLightMode);
}
.wrap.on .gnb > a:hover {
  color: var(--blueDarkMode);
}
.gnb > a.on {
  color: var(--blueLightMode);
}
.wrap.on .gnb > a.on {
  color: var(--blueDarkMode);
}

.toggleSwitch {
  width: 60px;
  height: 25px;
  display: block;
  position: relative;
  border-radius: 30px;
  background-color: #fff;
  cursor: pointer;
  margin: 30px;
  border: 1px solid var(--black);
}
.toggleSwitch .toggleButton {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: var(--black);
}
.toggleSwitch .toggleNameL,
.toggleSwitch .toggleNameD {
  font-family: "S-CoreDream-3Light";
  font-size: 10px;
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
}
.toggleSwitch .toggleNameD {
  display: none;
  top: 50%;
  left: 5px;
  color: var(--black);
}
.toggleSwitch.active {
  border: none;
}
.toggleSwitch.active .toggleNameD {
  display: block;
}
.toggleSwitch.active .toggleNameL {
  display: none;
}

.toggleSwitch.active .toggleButton {
  left: calc(100% - 20px);
  background: #000;
}

.toggleSwitch,
.toggleButton,
.toggleNameL,
.toggleNameD {
  transition: all 0.2s ease-in;
}
/* home */
.home {
  display: flex;
  position: relative;
}
.homeTextCon {
  position: absolute;
  top: 40%;
  transform: translateY(-40%);
}
.homeTextCon > p {
  font-family: "S-CoreDream-3Light";
  font-weight: 300;
  font-size: 64px;
  padding-bottom: 1rem;

  letter-spacing: -3px;
}
.homeTextCon .changeText {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.homeTextCon .changeText.show {
  opacity: 1;
}
.wrap .changeText {
  color: var(--blueLightMode);
}
.wrap.on .changeText {
  color: var(--blueDarkMode);
}
.gotop {
  position: fixed;
  right: 30px;
  bottom: 50px;
  background-color: var(--blueLightMode);
  width: 50px;
  height: 50px;
  border-radius: 50px;
  color: var(--white);
  z-index: 20;
}
.gotop i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrap.on .gotop {
  background-color: var(--blueDarkMode);
}

/* Project */

.wrap .secHeading {
  padding-top: 120px;
  padding-bottom: calc(60px - 2rem);
  font-size: 36px;
  font-family: "S-CoreDream-3Light";
  font-weight: 600;
  color: var(--blueLightMode);
}
.wrap.on .secHeading {
  color: var(--blueDarkMode);
}
.proList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.proList > li {
  position: relative;
  width: calc((100% - 4rem) / 3);
  height: inherit;
  padding-top: 20%;
  margin-right: 32px;
  overflow: hidden;
  margin-top: 2rem;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.proList > li:nth-of-type(3n) {
  margin-right: 0;
}
.proList > li:nth-of-type(1) .proHover .goBtn div:nth-of-type(2) {
  background-color: #eaeaea;
  cursor: auto;
}
.proList > li:nth-of-type(1) .proHover .goBtn div:nth-of-type(2):hover i {
  transform: scale(1);
}

.proList > li:hover .proHover {
  bottom: 0;
}
.proCon {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.project.proPc .proCon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project.proM .proCon img {
  width: calc(100% / 3);
  height: 100%;
}
.proHover {
  display: flex;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: 0.3s;
  padding: 1rem 0.5rem;
}
.pcon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pcon p:nth-of-type(2) {
  padding-top: 0.5rem;
}
.proHover p {
  color: var(--white);
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
}
.proHover .goBtn {
  display: flex;
}
.proHover .goBtn > div {
  background-color: var(--white);
  width: 56px;
  height: 56px;
  border-radius: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.proHover .goBtn > div:first-of-type {
  margin-right: 1rem;
}
.proHover .goBtn > div i {
  font-size: 1.2rem;
  transition: 0.3s;
  color: var(--black);
}
.proHover .goBtn > div i.fa-github-alt {
  font-size: 1.5rem;
}
.proHover .goBtn > div:hover i {
  transform: scale(1.2);
}
.proHover .goBtn > div a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
/* About */

.introduction {
  position: relative;
  margin-top: 1rem;
}

.containBox {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: var(--black);
}
.wrap.on .containBox {
  background-color: var(--white);
}
.introduction .containBox {
  left: 0;
}
.introduction .mw {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.introductionContent {
  position: relative;
  z-index: 10;
  color: var(--white);
  width: 50%;
  padding: 1rem;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.wrap.on .introductionContent {
  color: var(--black);
}
.myInfo {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}
.myInfoImg {
  width: 27%;
}
.myInfoImg img {
  width: 100%;
}
.myInfoText {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  padding-left: 1rem;
}
.myInfoText > p {
  padding-top: 0.5rem;
}
.myInfoText > p:nth-of-type(odd) {
  width: 20%;
}
.myInfoText > p:nth-of-type(even) {
  width: 80%;
}
.aboutText {
  padding-top: 2rem;
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.aboutText > p:nth-of-type(1) {
  padding-bottom: 1.25rem;
}
.aboutText p span {
  font-weight: 700;
  color: var(--blueDarkMode);
}
.wrap.on .aboutText p span {
  color: var(--blueLightMode);
}
.skillsBox {
  width: 50%;
  padding: 1rem;
  padding-left: 2rem;
}
.skillsBox > div {
  padding-bottom: 2rem;
}
.sTitle {
  font-family: "Noto Sans", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 1rem;
}
.sCon {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  padding-bottom: 0.5rem;
}
.techIcons {
  position: relative;
}
.tech {
  padding-right: 1rem;
  cursor: pointer;
}
.techIcons > .html5.on {
  content: url("../img/techIcons/html5.png");
}
.techIcons > .css3.on {
  content: url("../img/techIcons/css3.png");
}
.techIcons > .js.on {
  content: url("../img/techIcons/js.png");
}
.techIcons > .react.on {
  content: url("../img/techIcons/react.png");
}
.techIcons > .nodejs.on {
  content: url("../img/techIcons/nodejs.png");
}
.techIcons > .mongodb.on {
  content: url("../img/techIcons/mongodb.png");
}
.techIcons > .aws.on {
  content: url("../img/techIcons/aws.png");
}
.techIcons > .cloudflare.on {
  content: url("../img/techIcons/cloudflare.png");
}
.techIcons > .firebase.on {
  content: url("../img/techIcons/firebase.png");
}
.techDesc {
  display: none;
  position: absolute;
  top: calc(100% + 2rem);
  left: 0;
  padding: 1rem;
  border: 1px solid var(--black);
}
.wrap.on .techDesc {
  border: 1px solid var(--white);
}
.techIcons > .html5.on ~ .techDesc.html5 {
  display: block;
}
.techIcons > .css3.on ~ .techDesc.css3 {
  display: block;
}
.techIcons > .js.on ~ .techDesc.js {
  display: block;
}
.techIcons > .react.on ~ .techDesc.react {
  display: block;
}
.techIcons > .nodejs.on ~ .techDesc.nodejs {
  display: block;
}
.techIcons > .mongodb.on ~ .techDesc.mongodb {
  display: block;
}
.techIcons > .aws.on ~ .techDesc.aws {
  display: block;
}
.techIcons > .firebase.on ~ .techDesc.firebase {
  display: block;
}
.techIcons > .cloudflare.on ~ .techDesc.cloudflare {
  display: block;
}
.tdTitle {
  font-family: "S-CoreDream-3Light";
  font-size: 20px;
}
.tdContent {
  font-family: "Noto Sans", sans-serif;
  padding-top: 1rem;
}
/* contact */
.contactBox {
  position: relative;
  width: 100%;
  margin-top: 2rem;
}
.contactBox .containBox {
  right: 0;
}
.contactBox .mw {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.l_text,
.r_text {
  width: 50%;
}
.l_text {
  padding: 1rem;
  padding-left: 0;
}
.r_text {
  padding: 1rem;
  padding-left: 2rem;
  z-index: 10;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.wrap.on .r_text {
  color: var(--black);
}
.r_text a {
  color: var(--white);
}
.wrap.on .r_text a {
  color: var(--black);
}
.r_text a:hover {
  color: var(--blueDarkMode);
}
.wrap.on .r_text a:hover {
  color: var(--blueLightMode);
}
.contactTextCon {
  width: 95%;
}
.contactTextCon .bigText {
  font-family: "S-CoreDream-3Light";
  font-weight: 400;
  font-size: 48px;
  padding-bottom: 1rem;
}

.contactTextCon .subText {
  padding-top: 3rem;
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.contactTextCon .subText:nth-of-type(2n) {
  padding-top: 0.5rem;
}
.contactInfo {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  padding-top: 1rem;
}
.contactInfo > i {
  display: inline-block;
  width: 10%;
  font-size: 1.25rem;
}
.contactInfo > p,
.contactInfo > div {
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
  width: 90%;
}
.contactInfo.kakao > .kakaoImg {
  padding: 1rem;
  width: 30%;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.contactInfo.kakao > .kakaoImg > .qrHide {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  background-color: var(--black);
  transition: 0.4s;
}
.wrap.on .contactInfo.kakao > .kakaoImg > .qrHide {
  background-color: var(--white);
}
.qrHide > p {
  position: absolute;
  top: 100%;
  left: 0%;
  transform: translate(0, -100%);
}
.contactInfo.kakao > .kakaoImg > img {
  width: 100%;
}
.contactInfo.kakao > .kakaoImg:hover > .qrHide {
  left: 100%;
}

/* mobile 반응형 */
@media (max-width: 800px) {
  /*  */
  .gnb {
    display: none;
    right: -100%;
    transition: 0.4s;
  }
  .hd {
    height: 50px;
  }
  .m_toggle {
    display: block;
  }
  .ham {
    display: block;
    cursor: pointer;
  }
  .ham.on .fa-bars {
    display: none;
  }
  .ham.on .fa-xmark {
    display: block;
    z-index: 100;
  }
  .ham.on ~ .gnb {
    display: flex;
    position: absolute;
    background-color: #fafafa;
    top: 50px;
    right: 0;
    height: 100vh;
    flex-direction: column;
    width: 50%;
    justify-content: flex-start;
  }
  .wrap.on .ham.on ~ .gnb {
    background-color: #181818;
  }
  .ham.on ~ .gnb a {
    /* border: 1px solid red; */
    width: 100%;
    text-align: center;
    padding: 2rem 0;
  }
  .ham.on ~ .gnb a:hover {
    background-color: var(--blueLightMode);
    color: var(--white);
  }
  .wrap.on .ham.on ~ .gnb a:hover {
    background-color: var(--blueDarkMode);
  }
  .ham.on ~ .gnb > div {
    display: none;
  }
  .homeTextCon > p {
    font-size: 24px;
  }
  .project,
  .about {
    height: 100%;
    padding-bottom: 1rem;
  }
  .contact {
    margin-top: 5rem;
  }
  .wrap .secHeading {
    font-size: 20px;
    padding-top: 80px;
    padding-bottom: 1rem;
  }
  .proList > li {
    width: 100%;
    margin-right: 0;
    margin-top: 1rem;
    padding-top: 50%;
  }
  .proHover p {
    font-size: 16px;
  }
  /* project  */
  .containBox {
    display: none;
  }
  .introductionContent {
    width: 100%;
    background-color: var(--black);
    padding-left: 1rem;
  }
  .wrap.on .introductionContent {
    background-color: var(--white);
  }
  .skillsBox {
    width: 100%;
  }
  .myInfoText > p:nth-of-type(odd) {
    width: 40%;
  }
  .myInfoText > p:nth-of-type(even) {
    width: 60%;
  }
  .skillsBox {
    padding: 0;
    padding-top: 2rem;
  }
  .skillsBox > div {
    padding-bottom: 1rem;
  }
  .sTitle {
    font-size: 24px;
    padding-bottom: 0.5rem;
  }
  .sCon {
    padding-bottom: 0.5rem;
  }
  .sEdu .sCon span {
    display: block;
    padding-bottom: 0.3rem;
  }
  .tdTitle {
    font-size: 1rem;
  }
  .tdContent {
    font-size: 14px;
  }
  .tech {
    height: 30px;
    padding-right: 0.5rem;
  }
  .techDesc {
    top: calc(100% + 1rem);
  }
  /* contact */
  .l_text,
  .r_text {
    width: 100%;
  }
  .r_text {
    background-color: var(--black);
    padding-left: 1rem;
    margin-top: 4rem;
  }
  .wrap.on .r_text {
    background: var(--white);
  }
  .contactBox {
    margin-top: 0;
  }
  .contactTextCon {
    width: 100%;
  }
  .contactTextCon .bigText {
    font-size: 24px;
  }
  .contactTextCon .subText {
    font-size: 1rem;
    padding-top: 2rem;
  }
  .contactInfo > p {
    font-size: 1rem;
  }
}
